header {
  display: grid;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  justify-items: flex-end;
  grid-template-columns: 300px 1fr;
  margin-bottom: 5vh;
}
header img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.header__image {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  align-items: center;
}

.header__menu {
  justify-self: flex-start;
}
.header__menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.header__menu ul li {
  list-style: none;
}

.header__buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.header__infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header__actions {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
}

/* customise bootstrap */
button.dropdown-toggle.btn.btn-dropdown img {
  margin-left: 5px;
  width: 40px;
  height: 40px;
}
a.dropdown-item {
  text-align: right;
}
@media only screen and (min-width: 765px) {
  header {
    grid-template-columns: 300px 1fr 200px;
    justify-items: flex-end;
  }
}
